.root {
    -fx-accent: lightblue;
}

.big {
    -fx-font-size: 20pt;
    -fx-font-color: blue;
}

.label {
    -fx-text-fill: black;
    -fx-font-size: 10pt;
}

.button {
    -fx-focus-traversable: false;
}

.button:hover {
    -fx-background-color: lightgray;
    -fx-text-fill: black;
}

.slider .track:hover {
    -fx-background-color: lightgray;
}

#login {
   -fx-background-color: #2196f3;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: whitesmoke;
}
#login:hover {
    -fx-background-color: #057ee8;
    -fx-text-fill: white;
}